@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gradient-1 {
  /* background: -webkit-linear-gradient(
    to right,
    #bdc3c7,
    #2c3e50
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #bdc3c7,
    #2c3e50
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: radial-gradient(
    circle,
    #131313,
    #212124,
    #2e3037,
    #3b404b,
    #47515f
  ); */
  background-image: linear-gradient(
    to left bottom,
    #131313,
    #1e1e20,
    #28282e,
    #32343c,
    #3b404b,
    #4d525d,
    #606570,
    #737984,
    #9598a1,
    #b8b9c0,
    #dcdcdf,
    #ffffff
  );
  filter: blur(300px);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
